<div class="modal" id="modalVendedorNew" tabindex="-1" role="dialog" aria-labelledby="modalVendedorNewTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 700px;">
        <div class="modal-content" style="height: 260px;min-height:unset;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVendedorNewTitle">Copiar Vendedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FormVendedorNewCreateEdit" style="height:100%;">
                <div class="modal-body" id="modal-bodyVendedorNew">
                    <div class="row mt-3" style="">
                        <div class="col-6" style="padding-left:0; ">
                            <div class="form-group form-group-default required disabled">
                                <label id="VendedorOldLabel">Vendedor Original</label>
                                <input id="VendedorOld" type="text" class="form-control" value="@ViewBag.VendedorOld" disabled>
                            </div>
                        </div>
                        <div class="col-6" style="padding-right:0; ">
                            <div class="form-group form-group-default required">
                                <label id="VendedorNewLabel">Vendedor Nuevo</label>
                                <input id="VendedorNew" type="text" class="form-control" value="@ViewBag.VendedorOld">
                            </div>
                            <div class="form-group form-group-defaultxx" style="padding-left: 12px;">
                                <label id="VendedorStatusLabel" style="color:red;display:none;"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="modalVendedorNew-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="modalVendedorNew-ok" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>