
@{
//ViewBag.Title = "Main";
}

<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>

<div class="row wrapper wrapper-content WC-WithoutCab ">
    <div class="ibox-content">

        <div class="col-12" style="padding-left:0;">
            <h3>SERVICIOS DE CONEXIÓN A PLATAFORMAS EXTERNAS</h3>
        </div>

        <div class="col-12" style="padding-left:0;">
            <h4>Conexiones disponibles</h4>
        </div>

        <div class="row" style="">

            <div class="col-3" style="padding-left:0;margin-left:75px;margin-top:75px;">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="margin-bottom:auto;">SHOPIFY</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">API Shopify</h5>
                        <p class="card-text">Potencia tu tienda en línea con la API de Shopify: Integración, personalización y automatización en un solo lugar.</p>
                        <a href="#" class="btn btn-primaryxx">Conectado</a>
                    </div>
                </div>

            </div>

            <div class="col-3" style="padding-left:0;margin-left:75px;margin-top:75px;">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" style="margin-bottom:auto;">HOLDED</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">API Holded</h5>
                        <p class="card-text">Optimiza tu gestión empresarial con Holded: Automatización, integración y acceso a datos clave para un negocio exitoso.</p>
                        <a href="#" class="btn btn-primaryxx">Activar</a>
                    </div>
                </div>

            </div>

        </div>





    </div>
</div>


