<!-- _ModalImportData.cshtml -->
<div class="modal fade" id="modalImportData" tabindex="-1" role="dialog" aria-labelledby="modalImportDataLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-importar-data-clientes">
            <div class="modal-header">
                <h5 class="modal-title" id="modalImportDataLabel">Importar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar">
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dato Ejemplo 1</th>
                            <th>Dato Ejemplo 2</th>
                            <th>Dato Ejemplo 3</th>
                            <th>Dato Ejemplo 4</th>
                            <th>Dato Ejemplo 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dato 1</td>
                            <td>Dato 2</td>
                            <td>Dato 3</td>
                            <td>Dato 4</td>
                            <td>Dato 5</td>
                        </tr>
                        <!-- Puedo añadir mas filas según sea necesario -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnVolver">Volver</button>
                <button type="button" class="btn btn-primary">Finalizar</button>
            </div>
        </div>
    </div>
</div>


