<!-- Modal -->
<div class="modal modalConfirmationOptions" id="modalConfirmationOptions" tabindex="-1" role="dialog" aria-labelledby="modalCenterWarningTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="min-height:unset;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal-body" style="height: 175px;">
                <label id="modal-bodyLabel"></label>
                <br>
                <button type="button" id="modalConfirmationOptions-ok1" class="btn btn-primary " data-dismiss="modal"></button>
                <button type="button" id="modalConfirmationOptions-ok2" class="btn btn-primary " data-dismiss="modal"></button>
            </div>


            <div class="modal-footer">
                <button type="button" id="modalConfirmationOptions-cancel" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                @*<button type="button" id="modalConfirmationOptions-ok" class="btn btn-primary " data-dismiss="modal">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>

