<!-- Modal -->
<div class="modal " id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalCenterWarningTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="min-height:unset;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" id="modal-ok" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

